@font-face {
  font-family: 'Rubic One';
  src: url(/fonts/rubic-one.woff);
  font-display: swap;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url(/fonts/anonymouspro-regular.woff);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url(/fonts/anonymouspro-bold.woff);
  font-weight: bold;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Anonymous Pro', serif;
  font-size: 24px;
  color: #000;
  background: #fff;
  padding: 1em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubic One', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  word-wrap: break-word;
  line-height: 100%;
}

h1 {
  font-size: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 1em 2em;
  width: fit-content;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: #fff;
  color: #000;
  border-radius: 2em;
  border: 2px solid #000;
  box-shadow: 6px 9px 0 rgb(0, 0, 0);
  transform: translate(-6px, -9px);
  transition:
    transform 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

button:hover,
button:focus,
button:focus-within,
button:focus-visible {
  transform: translate(-4px, -5px);
  box-shadow: 4px 5px 0 #000;
}

button:active {
  transform: translate(0px, 0px);
  box-shadow: 0 0 0 #000;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img {
  width: 100%;
  height: 256px;
  border-radius: 0 0 2em 2em;
  background: #e6e6e6;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  color: #000;
  padding: 2em;
  border: 2px solid #000;
  border-radius: 2em;
}

.games-list {
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2.8em;
  gap: 2em;
}

.game-form {
  display: grid;
  gap: 1em;
}

.game-form__title {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.games-list li {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.game-link {
  display: block;
  height: 100%;
  margin-bottom: 2em;
  border-radius: 2em;
  border: 2px solid #000;
  box-shadow: 10px 14px 0 rgb(0, 0, 0);
  overflow: hidden;
}

.game__description-container {
  padding: 1em;
}

.game-description {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.form__label {
  display: grid;
  gap: 0.5em;
}

input,
textarea {
  padding: 16px 26px;
  min-height: 2.5em;
  border-radius: 1.3em;
  border: 2px solid #000;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007aff;
}

input:user-valid,
textarea:user-valid {
  border-color: #62c880;
}

input:user-invalid,
textarea:user-invalid {
  border-color: #ff5b5b;
}

textarea {
  resize: vertical;
  min-height: 5em;
  max-height: 16em;
}

.form__label span {
  padding-inline-start: 0.5em;
}

.form__label-required span::after {
  content: '*';
  position: absolute;
  margin-top: -4px;
  padding-inline-start: 2px;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  color: #ff5b5b;
  background-color: inherit;
}

.form__message:empty {
  display: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

dialog {
  position: fixed;
  width: 95%;
  max-width: 924px;
  border: none;
  border-radius: 2em;
  scrollbar-width: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 0.2) transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 20px;
  border: 3px solid orange;
}

.error {
  background-color: tomato;
  color: #fff;
  padding: 1em;
  border-radius: 2em;
}

.add-game__button,
.button-submit {
  display: block;
  margin: 0 auto 0;
}

.delete-game__button {
  width: 100%;
}

::selection,
::-moz-selection {
  color: #fff;
  background-color: #000;
}

@media (max-width: 650px) {
  body {
    padding: initial;
  }
  main {
    width: 100%;
  }
}

@media (hover: none) {
  button:hover,
  button:focus,
  button:focus-within,
  button:focus-visible {
    transform: translate(-6px, -9px);
    box-shadow: 6px 9px 0 rgb(0, 0, 0);
  }
}
